[submodule "ThirdPartyLibraries/GSL"]
	path = ThirdPartyLibraries/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "ThirdPartyLibraries/VMA/VulkanMemoryAllocator"]
	path = ThirdPartyLibraries/VMA/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
