[submodule "ThirdPartyLibraries/GSL"]
	path = ThirdPartyLibraries/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "ThirdPartyLibraries/VMA/VulkanMemoryAllocator"]
	path = ThirdPartyLibraries/VMA/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "ThirdPartyLibraries/zlib"]
	path = ThirdPartyLibraries/zlib
	url = https://github.com/madler/zlib.git
[submodule "ThirdPartyLibraries/libpng"]
	path = ThirdPartyLibraries/libpng
	url = git://git.code.sf.net/p/libpng/code
[submodule "ThirdPartyLibraries/pixman"]
	path = ThirdPartyLibraries/pixman
	url = https://gitlab.freedesktop.org/pixman/pixman
